input, select{
    border-color: #CDCDCD;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    height: 25px;
}

.chkPrioridade{
    display: inline;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

:checked{
    transition-duration: 1000ms;  
    width: 20px;
    height: 20px;
}

.grupoInput span{
    font-size: 16px;
}
#idDepartamento{
    width: 60px;
}
#departamento{
    width: 450px;
}
#dataRequisicao{
    width: 120px;
}
#idFuncionario{
    width: 60px;
}
#NomeFuncionario{
    width: 450px;
}
#cargo{
    width: 120px;
}
#categoriaMotivo{
    width: 130px;
}
#Motivo{
    width: 200px;
}
.grupo9{
    width: 250px;
}

.camposItens span{
    font-size: 16px;
}
.grupoProduto{
    width: 90px;
    margin-right: 5px;

}
.grupoProduto input{
    width: 90px;
}

.grupoProdutoDescricao{
    width: 300px;
    margin-right: 5px;
}
.grupoProdutoDescricao input{
    width: 300px;
}
.grupoEstoque{
    width: 60px;
    margin-right: 5px; 
}
.grupoEstoque input{
    width: 60px;
}
.grupoQuantidade{
    width: 80px;
}
.grupoQuantidade input{
    width: 80px;
}


.BtnInserirItens{
    background-color:#0095C5 ;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center ;
    cursor: pointer;

}
.BtnInserirItens span{
    color: #ffffff;
    font-size: 14px;
}

#total{
    width: 120px;
    background-color: #CDCDCD;
    margin-left: 5px;
}
input{
    outline-color: #0095C5;
}
#total:focus{
    outline-color: #CDCDCD;
}